.book .book-summary ul.summary:before {
  content: '';
  background-image: url('../gitbook/images/npm-logo.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3.6em 8em;
  margin: 15px;
  display: block;
}
